<div class="row">
      <% for(let product of products) {%>
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                    <img src="<%=product.imagePath%>
                    " class="card-img-top" alt="..." >
                    <div class="card-body">
                      <h5 class="card-title"><%=product.title%>
                       </h5>
                      <p class="card-text"><%=product.description%>
                        </p>
                      <div class="pull-left"><%=product.price%>
                        </div>
                      <a href="#" class="btn btn-success pull-right">Add to cart</a>
                    </div>
                  </div>
      </div>
      <% } %>             
</div>
